@font-face {
  font-family: 'Palatino';
  src: url('../assets/fonts/Palatino.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-dark: #0A0A0D;
  --bg-color-light: #f0f3f3;
  --txt-dark: #292828;
  --txt-light: #f1eded;
  --heading: #b6a5bb;
  --accent: #4fada1;
  --accent-second: #6340b3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: 'Palatino'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--txt);
  transition: 0.3s background-color ease-in-out, color 0.6s ease-in-out;
}

body.light {
  background-color: var(--bg-color-light);
  color: var(--txt-dark);
  /* --image: url('../assets/icons/sun.png') */
}

body.dark {
  background-color: var(--bg-color-dark);
  color: var(--txt-light);
}

a {
  text-decoration: none;
  color: var(--txt);
}

ul {
  list-style-type: none;
}