nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

nav a {
    margin: 0 1.5rem;
    transition: 0.3s ease-in;
}

nav a:hover {
    border-bottom: 3px solid var(--accent);
}

.nav-links {
    align-self: flex-end;
}